@charset "UTF-8";
#container {
  flex: 1; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

p {
  line-height: 1.58; }

nav {
  height: 50px;
  background-color: #2980b9;
  line-height: 50px;
  padding: 0 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  nav a {
    color: white !important;
    text-decoration: none;
    margin: 0 20px;
    color: #2866c2; }
    nav a:hover {
      border-bottom: 2px solid white; }
    nav a.active {
      color: white;
      font-weight: bold;
      pointer-events: none;
      cursor: default;
      border-bottom: 3px solid white; }
  nav a::before {
    content: '';
    background-color: red; }

footer {
  width: 100%;
  padding: 20px 0;
  color: #fff;
  background-color: #282626;
  text-align: center; }
  footer a {
    color: #aad8ec;
    text-decoration: none; }

body {
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', sans-serif;
  counter-reset: h2counter; }

.chapter {
  counter-reset: h3counter; }

h2, h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: normal; }

#container > h1 {
  counter-reset: h2counter;
  font-weight: normal;
  letter-spacing: -0.03em;
  font-size: 36px;
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 10px; }

h2 {
  font-size: 30px; }

.chapter > h2:before {
  content: counter(h2counter) ".  ";
  counter-increment: h2counter;
  counter-reset: h3counter; }

h3 {
  font-size: 24px; }

.chapter > h3:before {
  counter-increment: h3counter;
  content: counter(h2counter) "." counter(h3counter) ".  "; }

code {
  background-color: #eaf4ff;
  padding: 1px 5px;
  border-radius: 2px; }

pre code {
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  max-width: 780px;
  margin: 0 auto; }
  pre code.small-line-height {
    line-height: 1.2em; }

pre {
  font-family: monospace;
  background-color: white; }

.multiple-columns {
  display: flex;
  justify-content: space-around; }
  .multiple-columns p {
    display: block; }

.exercise {
  border: 1px solid;
  padding: 5px;
  border-radius: 10px; }

.narrow, p, h1, h2, h3, h4, h5, h6, .exercise-description, .demo-images {
  max-width: 800px;
  margin: 20px auto; }

p.hint {
  display: flex;
  align-items: center;
  padding: 10px;
  max-width: 780px;
  background-color: #7c3ed5;
  color: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: bold; }
  p.hint i.fa {
    font-size: 50px;
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 20px; }

img.coordinates {
  width: 250px;
  height: 250px;
  margin-left: 10px; }

img {
  margin-right: 20px; }

.exercise-description {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .exercise-description .exercise-description-content {
    padding: 10px; }
    .exercise-description .exercise-description-content > div > p:first-of-type {
      margin-top: 0; }
    .exercise-description .exercise-description-content > div > p:last-of-type {
      margin-bottom: 0; }
  .exercise-description .exercise-description-additional-information {
    padding: 10px;
    border-top: 1px solid #E0E0E0; }
  .exercise-description .exercise-description-header {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 10px;
    background-color: #2980b9;
    color: white; }
    .exercise-description .exercise-description-header strong {
      font-size: 20px; }

.highlight-background {
  background-color: #f9dfdf;
  padding: 2px;
  border-radius: 5px; }

.editor-demo {
  width: auto;
  height: 200px;
  float: left; }

.demo-images {
  clear: both; }
  .demo-images img {
    border: 12px solid #ecf0f1;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    margin-right: 30px; }
  .demo-images div {
    padding-top: 10px; }
