@charset "UTF-8";
nav {
  height: 50px;
  background-color: #fafcfa;
  line-height: 50px;
  padding: 0 15px; }
  nav a {
    text-decoration: none;
    margin: 0 20px; }
    nav a:hover {
      text-decoration: underline; }
    nav a.active {
      color: black;
      pointer-events: none;
      cursor: default; }

footer {
  width: 100%;
  margin-top: 50px;
  padding: 20px 0;
  color: #fff;
  background-color: #282626;
  text-align: center; }
  footer a {
    color: #aad8ec;
    text-decoration: none; }

body {
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', sans-serif;
  counter-reset: h2counter; }

.chapter {
  counter-reset: h3counter; }

h1 {
  counter-reset: h2counter; }

h2:before {
  content: counter(h2counter) ".  ";
  counter-increment: h2counter;
  counter-reset: h3counter; }

h3:before {
  counter-increment: h3counter;
  content: counter(h2counter) "." counter(h3counter) ".  "; }

code {
  background-color: #f9f2f4;
  color: #c7254e;
  padding: 0.2em 0;
  border-radius: 3px; }

pre {
  font-family: monospace;
  background-color: white !important; }

.multiple-columns {
  display: flex;
  justify-content: space-around; }
  .multiple-columns p {
    display: block; }

.exercise {
  border: 1px solid;
  padding: 5px;
  border-radius: 10px; }
